
.main-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 30px;
justify-content: space-around; 
}
 .user-info__content {
border: 1px solid #ccc;
padding: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background-color: #fff;
text-align: center;

        }
.user-image{
max-width: 200px;
height: auto;
border-radius: 8px;
}